/* 
 * Student name: Civio Arts
 * Student number: 11043946
 * Assignment 5: Linked Views
 */

div
{
    display: block;
}

svg
{
    display: block;
    margin: auto;
}

text
{
    font-weight: bold;
    font-family: sans-serif;
}

#color
{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-size: 12px;
}

.female
{
    fill: #045a8d;
    transition-duration: 1s !important;
    -webkit-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
}

.female:hover
{
    fill: #333 !important;
}

.jumbotron
{
    background-color: transparent; 
    margin-top:-60px;
    margin-bottom: -40px;
}
.male
{
    fill: #2b8cbe;
    transition-duration: 1s !important;
    -webkit-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
}

.male:hover
{
    fill: #045a9d !important;
}

.legend
{
    font-family: sans-serif;
    font-size: 10px;
}

.title
{
    font-size: 20px;
}
